body {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
  background-color: rgb(108, 153, 168);    
  color: white;                   
  padding: 1rem;
  text-align: center;
}

nav a {
  background-color: #333;          
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
}

main {
  background-color: lightgray;
  color: black;
  padding: 1rem;
  text-align: center;
}

footer {
  background-color: rgb(108, 153, 168);
  color: white;
  padding: 1rem;
  text-align: center;
}