* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5f5f5;
  color: #333;
}

header {
  text-align: center;
  background-color: #4e7588;
  color: white;
  padding: 1rem;
}

#course-title {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

nav {
  background-color: rgb(108, 153, 168); 
  display: flex;
  justify-content: center; 
  gap: 50px;
  padding: 10px 5; 
}


nav a {
  color: white; 
  text-decoration: none;
  font-weight: bold;
  background-color: transparent; 
  padding: 10px 5; 
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}


main {
  max-width: 900px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 1rem;
  flex: 1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  min-height: 350px; 
  padding: 16px;
}

.card a {
  color:rgb(108, 153, 168) ;               
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card ul {
  list-style: none;     
  padding-left: 0;     
  margin: 0;           
}

.card img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
  margin: 0 auto 10px;
}

.card a:hover {
  color: white;
  background-color: rgb(108, 153, 168);
}

footer {
  text-align: center;
  background-color: #4e7588;
  color: white;
  padding: 1rem;
  
}

@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
  }
}